@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 5px 10px;
}

.description {
  font-family: "Ubuntu";
  font-weight: 300;
  text-align: left;
}

footer {
  text-align: center;
}

h3 {
  text-align: center;
}

ol {
  margin-left: 3%;
  text-align: left;
}

.list {
  color: orangered;
}

ul {
  margin-left: 6%;
}

li {
  text-align: justify;
}

.theme-buttons {
  text-align: center;
}

.home {
  text-align: left;
}

.rules {
  text-align: left;
}

.zone1 {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 10px;
}
.zone2 {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 10px;
}
.zone3 {
  text-align: center;
  box-sizing: border-box;
  padding: 5px 10px;
}
/* .cards {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 25px;
} */

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content {
  line-height: 1.5;
  font-size: 0.85em;
  padding: 5px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  border-bottom: 2px solid;
  transition: 2s;
}

.card:hover .card__content {
  right: 0;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card2 {
  width: 400px;
  height: 550px;
  border-radius: 20px;
  overflow: hidden;
  border: 8pm solid;
  position: relative;
  display: inline-flex;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 200px;
}

.card2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card2-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -40;
  position: absolute;
  /* background: #1f3d4738; */
  border-radius: 15px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 5s;
}

.card2:hover .card2-body {
  right: 0;
}

.card2-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 450;
  margin-top: 30px;
}

.card2-info {
  font-size: 12px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}
